In [24]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

In [2]:
df = pd.read_csv("data/train.csv", sep=";")

In [3]:
df.columns.to_series().groupby(df.dtypes).groups

{int64: ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], object: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']}

In [6]:
df_features = df.iloc[:,:-1]
df_target = df.iloc[:,-1]

In [9]:
# dropping the fields related to last campaign. We're just keeping the outcome from the previous campaign
df_features.drop(columns=['contact', 'day', 'month', 'duration','previous'], inplace=True)

In [16]:
df_target.replace({'yes': 1, 'no':0}, inplace=True)

In [18]:
df_features

,age,job,marital,education,default,balance,housing,loan,campaign,pdays,poutcome
0,58,management,married,tertiary,no,2143,yes,no,1,-1,unknown
1,44,technician,single,secondary,no,29,yes,no,1,-1,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,1,-1,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,1,-1,unknown
4,33,unknown,single,unknown,no,1,no,no,1,-1,unknown
...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,3,-1,unknown
45207,71,retired,divorced,primary,no,1729,no,no,2,-1,unknown
45208,72,retired,married,secondary,no,5715,no,no,5,184,success
45209,57,blue-collar,married,secondary,no,668,no,no,4,-1,unknown
45210,37,entrepreneur,married,secondary,no,2971,no,no,2,188,other

In [59]:
dtype_feature_dict = df_features.columns.to_series().groupby(df_features.dtypes).groups
replace_dict = {
    'job': {
        'management': 0, 'technician': 1, 'entrepreneur': 2,
        'blue-collar': 3, 'unknown': 4, 'retired': 5, 'admin.': 6,
        'services': 7, 'self-employed': 8, 'unemployed': 9,
        'housemaid': 10, 'student': 11
    },
    'marital': {'married': 0, 'single': 1, 'divorced': 2},
    'education': {'tertiary': 0, 'secondary': 1, 'unknown': 2, 'primary': 3},
    'default': {'no': 0, 'yes': 1},
    'housing': {'yes': 1, 'no': 0},
    'loan': {'no': 0, 'yes': 1},
    'poutcome': {'unknown': 0, 'failure': 1, 'other': 2, 'success': 3}
}
df_features.replace(replace_dict, inplace=True)

In [60]:
clf = RandomForestClassifier(max_depth=5)
clf.fit(df_features, df_target)

RandomForestClassifier(max_depth=5)

In [64]:
probs = clf.predict_proba(df_features)

In [81]:
pred = clf.predict(df_features)

In [85]:
print(probs[-10:], pred[-10:])

[[0.34122065 0.65877935]
 [0.87172193 0.12827807]
 [0.76822999 0.23177001]
 [0.67114582 0.32885418]
 [0.84421609 0.15578391]
 [0.88776087 0.11223913]
 [0.65504467 0.34495533]
 [0.39288932 0.60711068]
 [0.90201807 0.09798193]
 [0.78336903 0.21663097]] [1 0 0 0 0 0 0 1 0 0]

In [79]:
df_target[-10:]

45201    1
45202    1
45203    1
45204    1
45205    1
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, dtype: int64